html{
    margin:0;
    padding:0;
    font-size:16px;
}

body{
    background-color: #000;
    text-align: center;
}

header h1{
    font-family: verdana, sans-serif;
    font-weight: 400;
    font-size:50px;
    color:#fff;
}

header a{
    color:aquamarine;
}