html{
    margin:0;
    padding:0;
    font-size:16px;
}

body{
    background-color: #000;
    text-align: center;
    color:#fff;
    font-family: verdana, sans-serif;
}

header h1{
    font-weight: 400;
    font-size: 50px;
}

a{
    color:aquamarine;
}

main h2{
    font-size:42px;
    font-weight:300;
}

main p{
    font-size:21px;
    color:gray;
}

footer{
    text-align:right;
}